<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http:172.28.134.6:80:myfirstcsharpwebsite.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myfirstcsharpwebsite.com</MSDeployServiceURL>
    <DeployIisAppPath>www.myfirstcsharpwebsite.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ollie</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LibraryEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyFirstCsharpWebsite.LibraryEntities, MyFirstCsharpWebsite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LibraryDatabaseOTEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.28.134.1;Initial Catalog=LibraryDatabaseOT;Persist Security Info=True;User ID=o.thomas;Password=f3xH9Kyf3b;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LibraryDatabaseOTEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Library.csdl|res://*/Library.ssdl|res://*/Library.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.134.1;initial catalog=LibraryDatabaseOT;persist security info=True;user id=o.thomas;password=f3xH9Kyf3b;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LibraryConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=172.28.134.6;Initial Catalog=Library;User ID=ollie;Password=ChangeThis1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.28.134.6;Initial Catalog=Library;Persist Security Info=True;User ID=Ollie;Password=ChangeThis1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LibraryConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.28.134.6;Initial Catalog=Library;Persist Security Info=True;User ID=Ollie;Password=ChangeThis1;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="masterLibraryEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.28.134.6;Persist Security Info=True;User ID=Ollie;Password=ChangeThis1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\masterLibraryEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.134.6;persist security info=True;user id=Ollie;password=ChangeThis1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LibraryConnectionString-Web.config Connection String">
      <ParameterValue>data source=172.28.134.6;initial catalog=Library;user id=ollie;password=ChangeThis1;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LibraryDatabaseOTEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LibraryEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)masterLibraryEntities-Web.config Connection String" />
  </ItemGroup>
</Project>