* {
    border: 0px,0px,0px,0px;
    margin: 0px,0px,0px,0px;
    padding: 0px,0px,0px,0px;
}

body {
    border: 0px,0px,0px,0px;
    margin: 0px,0px,0px,0px;
    padding: 0px,0px,0px,0px;
    color: #574c3f;
    background-color: lavender;
    font-family: Calibri;
    font-size: 12px;
}

#bannerArea {
    border: 0px,0px,0px,0px;
    margin: 0px,0px,0px,0px;
    padding: 0px,0px,0px,0px;
}

#wrapper {
    width: 1100px;
    margin: auto;
    padding-bottom: 20px;
    background-color: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
}

#banner {
}
